.my_event_text {
  width: inherit;
  
}

.my_event_text textarea {
  padding-top: 10px;
  color: black;
  background-color: wheat;
  border: solid gray 1px;
  border-radius: 4px;
  width: inherit;
  height: 50px;
  resize: none;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.send_button {
  background-color:rgba(255, 255, 255, 0.5);
  border: solid white 1.5px;
  border-radius: 4px;
  margin: 4px 1px;
  width: 100px;
  padding: 4px;

}

.send_button:hover {
  background-color:chartreuse;
}