.content {
  background-color: rgb(45, 210, 30);
  grid-area: co;

}

.content .back_img {
  width: auto;
  height: 300px;
}

.content .ava {
  width: 150px;
  height: auto;
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}