.formControl.error input,
.formControl.error textarea 
{
  border: red solid 2px;
  border-radius: 5px;
}

.formControl.error span 
{
  color: red;
}

.formSumError
{
  border: red solid 2px;
  border-radius: 5px;
  padding: 5px;
  width: 160px;
  color: red;
}