.header {
  grid-area: head;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(83, 49, 161);
  padding-left: 5px;
  padding-right: 10px;
}

.header img { 
  border-radius: 100%;
  height: 75px;
  width: auto;
}

.header button {
  color: white;
  background-color:  rgb(83, 49, 161);
  border-radius: 4px;
  border: black solid 1px;
  padding: 4px;
}

.header button:hover {
  background-color:  chartreuse;
}

.header input {
  background-color:  white;
  border-radius: 4px;
  border: black solid 1px;
  padding: 4px;
}

.loginBlock {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px;
  border: 1px white solid;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
}

.loginBlock:hover {
  background-color: chartreuse;
  box-shadow: 5px 5px 5px red;
}

.loginBlock img {
  height: 50px;
}

.loginButton {
  color: white;
  text-decoration: none;
}