.nav {
    background-color: rgb(83, 49, 161);
    grid-area: na;
    width: 100px;
}

.item {
    margin: 4px;

}

.item a {
    text-decoration: none;
    color: white;
}

.item a:hover {
    color: chartreuse;
}


.item .active {
    color: gold;
}
