.nav {
    background-color: rgb(83, 49, 161);
    grid-area: na;
    width: 100px;
}

.item {
    margin: 4px;
    color: white;

}

.item a {
    color: white;
}

.item a:hover {
    color: gold;
}

.active {
    color: gold;
}
