.app-wrapper {
  background-color:  darkslategrey;
  margin: 10px auto;
  width: 720px;
  position: relative;

  display: grid;
  /* padding: 10px; */
  grid-template-areas: 
  "head head"
  "na co";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 100px 1fr;
}
