* {
  box-sizing: border-box;
}

.app-wrapper {
  margin: auto;
  width: 700px;
  position: relative;

  display: grid;
  grid-template-areas: 
  "head head"
  "na co";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 100px 1fr;
}
