.dialog_container {
    display: grid;
    grid-template-columns: 3fr 10fr;
    margin: 5px;
}

.dialog_item {
    color: rgb(182, 182, 182);
}

.dialog_to_person {
    display: flex;
    border: solid 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    background-color: #2400c2;
    align-items: center;
}

.dialogAvatar {
    width: 40px;
    border-radius: 50%;
    margin-right: 5px;
}

.person_link {
    text-decoration: none;
    color: white;
    align-content: center;
}

.person_link_active {
    color: gold;
}

.messages {
    text-align: right;
    color: white;
}

.one_message, .one_message_my {
    background-color: rgb(6, 187, 0);
    border: solid white 1px;
    border-radius: 5px;
    color: white;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

.one_message_my {
    text-align: right;
    background-color: rgb(0, 66, 9);
}

.message_avatar {
    width: 40px;
    border-radius: 50%;
}

.one_message_content {
    
}

.time {
    font-size: 10px;
}

.message_textarea_send {
    width: 100%;

}